<mat-card>
    <mat-card-title>
        Product
    </mat-card-title>
    <mat-card-content>
        <mat-list *ngIf="(products$ | async)!.length > 0; else noProduct">
            <mat-list-item *ngFor="let p of (products$ | async)">
                Name: {{p.name}} - Price: {{p.price}} - Department: {{p.department}}
            </mat-list-item>
        </mat-list>
        <ng-template #noProduct>
            <p>There's no registered product</p>
        </ng-template>
    </mat-card-content>
</mat-card>