<mat-toolbar>
  My App
  <span fxFlex></span>
  <ng-container *ngIf="!(authenticated$ | async)">
    <div fxLayoutAlign="end">
      <button mat-button routerLink="/auth/login">
        <mat-icon>input</mat-icon>
        &nbsp;Sign In
      </button>
      <button mat-button routerLink="/auth/register">
        <mat-icon>person_add</mat-icon>
        &nbsp;Sign Up
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
    <div fxLayoutAlign="end">
      <button mat-icon-button routerLink="/main/people">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/main/products">
        <mat-icon>shop</mat-icon>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <p mat-menu-item>{{(user$ | async)?.email}}</p>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </div>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>